// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

$get_started_button_bg_color: hsl(322, 100%, 66%);
$get_started_button_bg_color_hover: hsla(322, 100%, 66%, 0.8);
$p_color: hsl(208, 11%, 55%);
$footer_bg_color: hsl(192, 100%, 9%);